
.QuestionnaireDetails {
  display: flex;
  justify-content: center;
  height:auto;
  .QuestionnaireDetailsWrapper{
    @media only screen and (max-width: 600px) {
      width:100vw;
    }
  
    @media only screen and (min-width: 601px) {
      width:60vw;
    }
  }

  .user-detail{
    color: black;
  }

  .results-container{
    display: flex;
    justify-content: center;
  }
}