
.QuestionnaireDetails {
  display: flex;
  justify-content: center;
  height:auto;
  .QuestionnaireDetailsWrapper{
    width: 80vw;
  }

  .results-container{
    display: flex;
    justify-content: center;
  }
}