

.CreateQuestionnaire {
  width:80%;
  align-content: center;
  ul {
    padding: 0;
    list-style-type: none;
  }
  .Header{
    text-transform: uppercase;
  }
}

.CreateQuestionnaireForm__answer{
  padding: 1em 1em 1em 1em;
}

.CreateQuestionnaireForm__question{
}

.RemoveButton{
  cursor: pointer;
}

