@import 'src/_styles/variables.scss';

.Header {
  position: sticky;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 100;
  color: $primaryColor;

  .navbar{
    background-color: $secondaryColor
  }
  .navbar-brand {
    color: $primaryColor;
    font-weight: 900;
  }

  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(15,140,224)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }


}
